<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <header>
        <img src="/assets/img/Logo 3.jpeg" alt="logo de la empresa">
        <h1>Bienvenido a nuestra Pagina Principal</h1>
    </header>
    <nav>
        <ul>
            <li><a href="home.html">home</a></li>
            <li><a href="">nosotros.html</a>Quien soy</li>
            <li><a href="">registro.html</a>Formulario de registro</li>
        </ul>

    </nav>
    <section>
        <p class="parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate fugit dolorum eveniet quo officia excepturi ipsum accusantium est dolorem, animi nulla quos fugiat non tenetur similique optio omnis ex?
        </p>
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, 
        </p>

        <img src="/assets/img/Computadora.jpeg" alt="imagen de la empresa">
    </section>
    <footer>
        <div class="fotter-content">
            <div class="social-icon">
                <a href="#" class="social-icon"><img src="/assets/img/Facebook New 2023 Icon.svg" alt="Facebook"></a>
                <a href="#" class="social-icon"><img src="/assets/img/Twitter X.svg" alt="Twitter"></a>
                <a href="#" class="social-icon"><img src="/assets/img/Youtube Icon.svg" alt="Youtube"></a>
            </div>
            <p>Derechos de autor @ 2024 | Nombre de la empresa</p>
        </div>
    </footer>
</body>
</html>